h5{
    font-family: Arial - Sans Serif;
    font-size: 20px;
    color: black;
}

p.speech{
    font-family: 'Times New Roman';
    font-size: 15px;
    color: black;
}

p.stage-direction{
    
    font-family: 'Times New Roman';
    font-size: 18px;
    color: black;
    background-color: thistle;
}

p.stage-direction:hover {
    background-color:beige;
    color:blueviolet;
}

h5.LADY_WINDERMERE{
    font-family: sans-serif;
    color:darkblue;
}

h5.LORD_DARLINGTON{
    font-family: Helvetica, sans-serif;
    color:crimson;
}

h5.PARKER{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkgreen;
}

.table_heading{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
}

table.table_actors{
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    padding: 20px;
    margin: 40px;
}

table.table_actors tr:nth-child(odd){
    background-color:lightsteelblue;
}

table.table_actors td, table.table_actors th {
    border: 1px solid darkgrey;
    padding: 10px;
    text-align: left;
    color:darkblue
}

table.table_actors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:darkred;
    color: white;
}

h5.LADY_WINDERMERE:hover{
    text-shadow: 2px 3px 4px chocolate;
    border-style:solid;
    color:darkslategrey;
}

h5.LORD_DARLINGTON:hover{
    text-shadow: 2px 3px 4px cornflowerblue;
    border-style:double;
    color:olive;
}

h5.PARKER:hover{
    text-shadow: 2px 3px 4px cadetblue;
    border-style:ridge;
    color: deeppink;
}